Want to get emailed about new blog posts?
<div class="signup-form">
  <div>
<form action="https://rcoh.us17.list-manage.com/subscribe/post?u=7de5db6cf5be641fb9ed11d97&amp;id=cab76ee87a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7de5db6cf5be641fb9ed11d97_cab76ee87a" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" onclick="trackSubscribe()" id="mc-embedded-subscribe" style="cursor: pointer">
</form>
</div>
</div>

I post about once a week on topics like
<a href="/tags/databases">databases</a>, <a href="/tags/language-internals">language internals</a> and <a href="/tags/algorithms">algorithms</a>.

<hr />
Do you want to hire me? I’m available for engagements from 1 week to a few months. <a href="/hire-me">Hire me!</a> 
